{% extends "base/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Usuarios Join And Play
                </div>
                <form id="login" method="POST" class="p-3 mt-3">
                    {% csrf_token %}
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="user" id="user" placeholder="Usuario ProdMas">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="password" name="pwd" id="pwd" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn mt-3">Iniciar sesion</button>
                    <div class="alert alert-danger mt-3" id="error">

                    </div>
                </form>
                <div class="text-center fs-6">
                    ¿No puedes Ingresar? <a href="{% url 'contacto' %}">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/forms/loginAdmin.js' %} "></script>
{% endblock %}