{% extends "base/base.html" %}
{% load widget_tweaks %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Join And Play
                </div>
                <div class="text-left mt-4 name">
                    Órdenes de Compra
                </div>
                <div>
                    <table class="table table-dark table-hover rounded">
                        <tbody>
                            <br>
                            <a class="btn btn-success btn-lg" href="{% url 'crearOrden' %}"><i
                                    class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Crear Órden de Compra</a>
                            <br><br>
                          <tr>
                            <th>Nº Compra</th>
                            <th>Fecha</th>
                            <th>Descripcion</th>
                            <th>Total</th>
                          </tr>
                          {% for order in orders %}
                          <tr>
                            <td><a class="account-order-id" href="#">{{order}}</a></td>
                            <td>{{order.created}}</td>
                            <td>{{order.get_description}}</td>
                            <td>${{order.get_precio_total}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
   
            </div>
        </div>
    </div>
</div>

{% endblock %}