{% extends "core/base/base.html" %}

{% load static %}
{% block template %}

<main>
    <h2>CATALOGO DE ACCESORIOS</h2>
    <section>
        <article>
            <h3>Juego 1</h3>
            <img src="static/core/img/mario.jpg" alt="Accesorio 1">
            <p>Descripción del juego 1</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Juego 2</h3>
            <img src="static/core/img/mario.jpg" alt="Accesorio 2">
            <p>Descripción del juego 2</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Juego 1</h3>
            <img src="static/core/img/mario.jpg" alt="Accesorio 3">
            <p>Descripción del juego 1</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Juego 2</h3>
            <img src="static/core/img/mario.jpg" alt="JAccesorio 4">
            <p>Descripción del juego 2</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Juego 1</h3>
            <img src="static/core/img/mario.jpg" alt="Accesorio 5">
            <p>Descripción del juego 1</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Juego 2</h3>
            <img src="static/core/img/mario.jpg" alt="Accesorio 6">
            <p>Descripción del juego 2</p>
            <a href="#">Comprar</a>
        </article>
    </section>
</main>

{% endblock %}