{% extends "core/base/base.html" %}

{% load static %}
{% block template %}

<main>
    <h2>CATALOGO DE ACCESORIOS</h2>
    <section>
        <article>
            <h3>JoyCon Neon</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_JoyCon.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>JoyCon Blue / Yellow</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_JoyCon2.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Kit Accesorios</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_kit_accesorios.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Raquetas Inalambricas</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_Raquetas.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Sandisk 64 GB Mario</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_Sandisk_64.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Sandisk 128 GB Mario</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_Sandisk_128.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Sandisk 256 GB Mario</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_Sandisk_256.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Sandisk 512 GB Mario</h3>
            <h3>Nintendo Switch</h3>
            <img src="{% static 'core/img/NS_Sandisk_512.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Kit Gamer Black</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_kit_gamer.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Kit Gamer RGB</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_kit_gamer_2.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Mouse Turbo Fire</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_mouse_turbo_fire.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Mouse Wasp</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_Mouse_Wasp.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Teclado Mecanico</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_teclado.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Audifonos RGB</h3>
            <h3>PC /Notebook</h3>
            <img src="{% static 'core/img/PC_audifonos.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Cergador para 2 Controles</h3>
            <h3>Play Sation</h3>
            <img src="{% static 'core/img/PS_Cargador_Controles.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>


        <article>
            <h3>Estuches para Control</h3>
            <h3>Play Station</h3>
            <img src="{% static 'core/img/PS_estuche.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Joy Stick Black</h3>
            <h3>Play Station</h3>
            <img src="{% static 'core/img/PS_JoyStick_Black.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Joy Stick White</h3>
            <h3>Play Station</h3>
            <img src="{% static 'core/img/PS_JoyStick_White.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Control Inalambrico Black</h3>
            <h3>XBOX</h3>
            <img src="{% static 'core/img/XB_Control_Black.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Control Inalambrico Blue</h3>
            <h3>XBOX</h3>
            <img src="{% static 'core/img/XB_Control_Blue.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Control Inalambrico White</h3>
            <h3>XBOX</h3>
            <img src="{% static 'core/img/XB_Control_White.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>

        <article>
            <h3>Control Inalambrico Yellow</h3>
            <h3>XBOX</h3>
            <img src="{% static 'core/img/XB_Control_Yellow.jpg' %}" alt="">
            <p>Precio</p>
            <a href="#">Comprar</a>
        </article>


    </section>
</main>

{% endblock %}