{% extends "core/base/base.html" %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

{% block template %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'core/img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Join And Play
                </div>
                <form id="formRegistro" method="POST" class="p-3 mt-3">
                    {% csrf_token %}
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="username" id="username" placeholder="Ingrese un nombre de usuario...">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="email" id="email" placeholder="Ingrese correo...">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="password" name="pwd" id="pwd" placeholder="Contraseña...">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="password" name="pwd1" id="pwd1" placeholder="Repita contraseña...">
                    </div>
                    <div class="alert alert-danger mt-3" id="error">

                    </div>

                    <button type="submit" class="btn mt-3">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock template %}