{% extends "core/base/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
{% endblock %}

{% block template %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'core/img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Usuarios Join And Play
                </div>
                <form id="login" method="GET" class="p-3 mt-3">
                    {% csrf_token %}
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="correo" id="correo" placeholder="Correo">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="password" name="pwd" id="pwd" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn mt-3">Iniciar sesion</button>
                </form>
                <div id="error" class="alert alert-danger">

                </div>
                <div class="text-center fs-6">
                    ¿No tienes una cuenta? <a href="{% url 'registro' %}">Registrate</a>
                </div>
                {% comment %} <div class="text-center fs-6">
                    Ingreso Colaboradores Join&Play <a href="{% url 'loginAdmin' %}">Aquí</a>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% endblock template %}

{% block scripts %}
<script src="{% static 'core/js/forms/login.js' %}"></script>
{% endblock %}