{% extends "base/base.html" %}

{% load static %}
{% block template %}

<main>
    <h1 class="card borders" style="text-align: center;color: darkblue;">CATALOGO DE ACCESORIOS</h1>
    <section>
        {% for accesorio in productos %}
        <article>
          <h3>{{accesorio.nombre}}</h3>
          {% if accesorio.picture%}
          <img src="{{accesorio.picture.url}}" alt="...">
          
          {%endif%}
          <br>
          <strong>Descripción del juego</strong><br>
          <p>{{accesorio.descripcion}}</p>
            
          <h5> <strong>Precio</strong>$ {{accesorio.costo}}</h5>
          
          
          <form method="post" action="{% url 'add' accesorio.id %}">
            {% csrf_token %}
            <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
            <a href="#" onClick="javascript:this.parentNode.submit()"><i class="bi bi-bag-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>&nbsp;Añadir al Carrito</a>
          </form>
    
        </article>
        {% endfor %}
      </section>
</main>

{% endblock %}