{% extends "base/base.html" %}

{% load static %}
{% block template %}

<main>
 
  {% comment %} <article>
    <h1>CATEGORÍAS</h1>
  </article>

  <div class="container-fluid mt-12">
    <div class="row">
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'accionAventura' %}" style="color: white;">Acción y
          Aventura</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href=" {% url 'arcadeSimulacion' %}" style="color: white;">Arcade y
          Simulación</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'deportesMusica' %}" style="color: white;">Deportes y
          Música</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'shooterEstrategia' %}" style="color: white;">Shooter y
          Estrategia</a>
      </article>
    </div>
  </div> {% endcomment %}

  {% if productos %}
  <h3 class="card borders" style="text-align: center; background-color:darkblue; color:#FFFFFF;">Resultados de búsqueda para "{{ query }}"</h3>
  <ul>
  
  <section>  
    {% for producto in productos %}
    <article>
      <h3>{{producto.nombre}}</h3>
      {% if producto.picture%}
      <img src="{{producto.picture.url}}" alt="...">

      {%endif%}
      <br>
      <strong>Descripción</strong><br>
      <p>{{producto.descripcion}}</p>

      <h5> <strong>Precio</strong>$ {{producto.costo}}</h5>
      {% if producto.tipo_producto == 'Juego Físico'%}
      <p>PLATAFORMA: {{producto.plataforma}}</p>
      {% endif %}
      <p>TIPO PRODUCTO: {{producto.tipo_producto}}</p>

      {% if producto.tipo_producto == 'Código Digital' %}
      <form method="post" action="{% url 'add' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a style="background: blue" onmouseover="this.style.background='none';"
          onmouseout="this.style.background='blue';" href="#" onClick="javascript:this.parentNode.submit()"><i
            class="bi bi-key-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
            data-tippy-arrow="true" data-tippy-theme="light-border"></i>&nbsp;Añadir al Carrito (Código Digital)</a>
      </form>
     
      {% else %}
      <form method="post" action="{% url 'add' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a href="#" onClick="javascript:this.parentNode.submit()"><i class="bi bi-bag-fill" data-tippy-inertia="true"
            data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
            data-tippy-theme="sharpborder"></i>&nbsp;Añadir al Carrito</a>
      </form>
      {% endif %}
    </article>   
     {% endfor %}
  </section>

</ul> 
{% else %}
<div class="container h-100" style="padding-top:5%; padding-bottom:5%">
  <div class="row d-flex justify-content-center align-items-center h-500 rounded" style="background: #212529; padding-bottom:20%; margin-bottom:15%" >
    <div class="row" >
      <div class="container"><br><br>
        <div class="d-flex justify-content-center">
          <h1 style="color:white">No se encontraron resultados para "{{ query }}".</h1>
          <br />
        </div><br><br>
        <div class="d-flex justify-content-center">
          <img src="{% static 'img/query.jpg' %}" alt="" style="width: 50%; height: auto;">
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

 
</main>

{% endblock %}