{% extends "base/base.html" %}

{% load static %}
{% block template %}
<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    position: relative;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    background-color: red;
    padding: 10px;
  }

  .card-content {

    height: 150px
  }
</style>

<main>
 
  {% if productos %}
  <h3 class="card borders" style="text-align: center; background-color:darkblue; color:#FFFFFF;">Resultados de búsqueda para "{{ query }}"</h3>
  <ul>
  
    <section class="card-container">
      {% for producto in productos %}
      <article class="card">
        <h3 style="height:30px" >{{producto.nombre}}</h3>
      {% if producto.picture%}
      <a title="VerDetalle" href="{% url 'verDetalleProducto'  producto_id=producto.id %}"><img src="{{producto.picture.url}}"
        style="height:300px" alt="..."></a>
        <p> Click para ver más [+]</p>

      {%endif%}
      <br>
      <strong class="text-white" >Descripción</strong><br>
      <p>{{ producto.descripcion|truncatechars:100 }}</p>

      <h5 class="text-white"> <strong>Precio</strong>$ {{producto.costo}}</h5>
      {% if producto.tipo_producto == 'Juego Físico'%}
      <p>PLATAFORMA: {{producto.plataforma}}</p>
      {% endif %}
      <p>TIPO PRODUCTO: {{producto.tipo_producto}}</p>

      {% if producto.tipo_producto == 'Código Digital' %}
      <form method="post" action="{% url 'add' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a style="background: blue" onmouseover="this.style.background='darkblue';"
          onmouseout="this.style.background='blue';" href="#" onClick="javascript:this.parentNode.submit()"><i
            class="bi bi-key-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
            data-tippy-arrow="true" data-tippy-theme="light-border"></i>&nbsp;Añadir al Carrito (Código Digital)</a>
      </form>

      {% else %}
      <form method="post" action="{% url 'add' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a style="background: green" onmouseover="this.style.background='darkgreen';"
          onmouseout="this.style.background='green';" href="#" onClick="javascript:this.parentNode.submit()"><i
            class="bi bi-bag-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
            data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>&nbsp;Añadir al Carrito</a>
      </form>
      {% endif %}
    </article>   
     {% endfor %}
  </section>

</ul> 
{% else %}
<div class="container h-100" style="padding-top:5%; padding-bottom:5%">
  <div class="row d-flex justify-content-center align-items-center h-500 rounded" style="background: #212529; padding-bottom:20%; margin-bottom:15%" >
    <div class="row" >
      <div class="container"><br><br>
        <div class="d-flex justify-content-center">
          <h1 style="color:white">No se encontraron resultados para "{{ query }}".</h1>
          <br />
        </div><br><br>
        <div class="d-flex justify-content-center">
          <img src="{% static 'img/query.jpg' %}" alt="" style="width: 50%; height: auto;">
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

 
</main>

{% endblock %}