{% extends "base/base.html" %}

{% load static %}
{% block template %}

<main>
  <h2 class="card borders" style="text-align: center;color: darkblue;">CATALOGO DE JUEGOS</h2>
  <section>
    {% for juego in juegos.results %}
    <article>
      <h3>{{juego.name}}</h3>
      <img src={{juego.background_image}} alt="Juegos">

      <a href="#">Descripción del juego</a>

      <button style="color: white;" type="submit" class="btn mt-3">Añadir al Carrito</button>

    </article>
    {% endfor %}
  </section>
</main>

{% endblock %}