{% extends "base/base.html" %}

{% load static %}

{% block contenido %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div style="text-align: center;" class="card borders">
                <h3>
                    <u><b>Deportes y Musica</b></u>
                </h3>
            </div>
        </div>
    </div>
    <div id="contenido" class="row">

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src=""></script>
{% endblock %}