{% extends "base/base.html" %}

{% load static %}
{% block template %}
<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    position: relative;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    background-color:red;
    padding: 10px;
  }

  .card-content{

    height:150px
  }
</style>
<main>
  <article>
    <h1>CATEGORÍAS</h1>
  </article>

  <div class="container-fluid mt-12">
    <div class="row">
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'accionAventura' %}" style="color: white;">Acción y
          Aventura</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href=" {% url 'arcadeSimulacion' %}" style="color: white;">Arcade y
          Simulación</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'deportesMusica' %}" style="color: white;">Deportes y
          Música</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'shooterEstrategia' %}" style="color: white;">Shooter y
          Estrategia</a>
      </article>
    </div>
  </div>

  <h1 class="card borders" style="text-align: center; background-color:darkblue; color:#FFFFFF;">SHOOTER Y ESTRATEGIA</h1>

  <section class="card-container">
    {% for juego in productos %}
    <article class="card">
      
      <h3 style="height:30px">{{juego.nombre}}</h3>
      {% if juego.picture%}
      <a title="VerDetalle"  href="{% url 'verDetalleProducto'  producto_id=juego.id %}"><img src="{{juego.picture.url}}" style="height:300px"alt="..."></a>
      <p> Click para ver más [+]</p>

      {%endif%}
      <br>
      <strong class="text-white">Descripción</strong><br>
      <div class="card-content">
        <p>{{ juego.descripcion|truncatechars:100 }}</p>

      <h5  class="text-white"> <strong>Precio</strong>$ {{juego.costo}}</h5>
      {% if juego.tipo_producto == 'Juego Físico'%}
      <p>PLATAFORMA: {{juego.plataforma}}</p>
      {% endif %}
      <p>TIPO PRODUCTO: {{juego.tipo_producto}}</p>
      </div>
      {% if juego.tipo_producto == 'Código Digital' %}
      <form  method="post" action="{% url 'add' juego.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a style="background: blue" onmouseover="this.style.background='none';"
          onmouseout="this.style.background='blue';" href="#" onClick="javascript:this.parentNode.submit()"><i
            class="bi bi-key-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
            data-tippy-arrow="true" data-tippy-theme="light-border"></i>&nbsp;Añadir al Carrito (Código Digital)</a>
      </form>
     
      {% else %}
      <form  method="post" action="{% url 'add' juego.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a href="#" onClick="javascript:this.parentNode.submit()"><i class="bi bi-bag-fill" data-tippy-inertia="true"
            data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
            data-tippy-theme="sharpborder"></i>&nbsp;Añadir al Carrito</a>
      </form>
      {% endif %}
   
    </article>
    {% endfor %}
  </section>
</main>

{% endblock %}