{% extends "base/base.html" %}

{% load static %}
{% block template %}

<main>


  <article>
    <h1>CATEGORÍAS</h1>
  </article>

  <div class="container-fluid mt-12">
    <div class="row">
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'accionAventura' %}" style="color: white;">Acción y
          Aventura</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href=" {% url 'arcadeSimulacion' %}" style="color: white;">Arcade y
          Simulación</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'deportesMusica' %}" style="color: white;">Deportes y
          Música</a>
      </article>
      <article style="width: 150px;">
        <a class="col-md-12 mb-4" href="{% url 'shooterEstrategia' %}" style="color: white;">Shooter y
          Estrategia</a>
      </article>
    </div>
  </div>

  <h1 class="card borders" style="text-align: center; background-color:darkblue; color:#FFFFFF;">SHOOTER Y ESTRATEGIA</h1>

  <section>
    {% for juego in productos %}
    <article>
      <h3>{{juego.nombre}}</h3>
      {% if juego.picture%}
      <img src="{{juego.picture.url}}" alt="...">
      
      {%endif%}
      <br>
      <strong>Descripción del juego</strong><br>
      <p>{{juego.descripcion}}</p>
        
      <h5> <strong>Precio</strong>$ {{juego.costo}}</h5>
      
      <p>PLATAFORMA: {{juego.plataforma}}</p>
      <p>CATEGORÍA: {{juego.categoria}}</p>
      <form method="post" action="{% url 'add' juego.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a href="#" onClick="javascript:this.parentNode.submit()"><i class="bi bi-bag-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>&nbsp;Añadir al Carrito</a>
      </form>

    </article>
    {% endfor %}
  </section>
</main>

{% endblock %}