{% extends "base/base.html" %}
{% load widget_tweaks %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Join And Play
                </div>
                <div class="text-left mt-4 name">
                    Gestión de Recursos Humanos
                </div>
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <br>
                        <a class="btn btn-success btn-lg" href="{% url 'agregarUsuario' %}"><i
                                class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Agregar Usuario</a>
                        <br><br>
                        <thead>
                            <tr class="table-dark">
                                <th>Tipo de Usuario</th>
                                <th>Usuario</th>
                                <th>User Name</th>
                                <th>E-mail</th>
                                <th>Dirección</th>
                                <th>Región</th>                               
                                <th>Comuna</th>
                                <th>Teléfono</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">
                            {% for i in user %}
                            <tr class="table-dark">
                                <td class="table-dark">{{i.tipo_user}}</td>
                                <td class="table-dark">{{i.first_name}} {{i.last_name}}</td>
                                <td class="table-dark">{{i.username}}</td>
                                <td class="table-dark">{{i.email}}</td>
                                <td class="table-dark">{{i.direccion}}</td>
                                <td class="table-dark">{{i.region}}</td>
                                <td class="table-dark">{{i.comuna}}</td>
                                <td class="table-dark">{{i.telefono}}</td>
                                <td class="table-dark">{{i.fecha_nac}}</td>
                                <td>
                                     <button type="button"
                                        onclick="editarUsuario('{{i.id}}','{{i.username}}', '{{i.first_name}}', '{{i.last_name}}',  '{{i.email}}', '{{i.direccion}}' , '{{i.region}}', '{{i.comuna}}', '{{i.telefono}}', '{{i.fecha_nac}}','{{i.tipo_user}}')"
                                        class="btn btn-primary" data-toggle="modal" href="#EditarPerfilModal">
                                        <i class="bi bi-pen-fill"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" onclick="eliminarProducto('{{i.id}}')" class="btn btn-danger"
                                        data-toggle="modal" href="#EliminarProductoModal">
                                        <i class="bi bi-x-square-fill"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div id="EliminarPerfilModal" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h3 class="modal-title text-dark">Eliminar Producto</h3>
                                </div>
                                <div class="modal-body bg-dark text-white">
                                    <p class="labelmodal">Estas seguro?</p>
                                    <form method="POST" action="{% url 'eliminarProducto'%}">{% csrf_token %}
                                        <input type="hidden" id="id_producto_eliminar" name="id_producto_eliminar">
                                </div>
                                <div class="modal-footer bg-dark">
                                    <button type="submit" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Cerrar
                                        <i class="bi bi-x-square-fill"></i>
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="EditarPerfilModal" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h3 class="modal-title text-dark">Editar Usuario</h3>
                                </div>
                                <div class="modal-body bg-dark text-white">
                                    <form method="POST" action="{% url 'editarUsuario'%}"
                                        enctype="multipart/form-data">{% csrf_token %}
                                        <input type="hidden" id="id_usuario_editar" name="id_usuario_editar">
                                        {% for field in form_editar %}
                                        <p>{{field.label}}<br>
                                            {{field|add_class:"form-control"}}</p>
                                        {%endfor%}
                                </div>
                                <div class="modal-footer bg-dark text-white">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                                        Cerrar
                                        <i class="bi bi-x-square-fill"></i>                                    </button>
                                    <button type="submit" class="btn btn-success">
                                        Guardar
                                    </button>
                                </form>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}