{% extends "core/base/base.html" %}

{% block template %}

<main>
    <h2>Últimos juegos</h2>
    <section>
      <article>
        <h3>Juego 1</h3>
        <img src="juego1.jpg" alt="Juego 1">
        <p>Descripción del juego 1</p>
        <a href="#">Comprar</a>
      </article>

      <article>
        <h3>Juego 2</h3>
        <img src="juego2.jpg" alt="Juego 2">
        <p>Descripción del juego 2</p>
        <a href="#">Comprar</a>
      </article>

      <article>
        <h3>Juego 3</h3>
        <img src="juego3.jpg" alt="Juego 3">
        <p>Descripción del juego 3</p>
        <a href="#">Comprar</a>
      </article>
    </section>
  </main>
    
{% endblock %}

  


