{% extends "base/base.html" %}

{% load static %}
{% block template %}

<main>

  <h2 class="card borders" style="text-align: center;color: darkblue;">NOVEDADES</h2>


  <div class="container-fluid mt-3 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/452\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Call Of Duty: Warzone</h5>
                <p class="texto">$30.000</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/540\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Overwatch 2</h5>
                <p class="texto">Free to Play - Compras dentro del Juego</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/450\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Battlerite Rollale</h5>
                <p class="texto">$10.000</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/453\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Gotham City: IMPOSTORS</h5>
                <p class="texto">FREE TO PLAY</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <section>
    <article>
      <h3>Kit Gamer para PC</h3>
      <img src="static/img/PC_kit_gamer1.jpg" alt="Accesroiro 1">
      <p>Kit Gamer Basico RGB</p>
      <p>Incluye: Teclado Retroluminado - Mouse Gamer - Audifonos con Microfono</p>
      <a href="{% url 'accesorios' %}">Ver todos los Accesorios</a>
    </article>

    <article>
      <h3>Kit Gamer para PC 2</h3>
      <img src="static/img/PC_kit_gamer2.jpg" alt="Accesorio 2">
      <p>Kit Gamer 2 RGB</p>
      <p>Incluye: Teclado Retroluminado - Mouse Gamer - Audifonos con Microfono - MousePad</p>
      <a href="{% url 'accesorios' %}">Ver todos los Accesorios</a>
    </article>

    <article>
      <h3>Kit accesorios Nintendo Switch</h3>
      <img src="static/img/NS_kit_accesorios.jpg" alt="Accesorio 3">
      <p>Kit completo para Nintendo Switch</p>
      <p>Incluye Funda: Cargador para 4 Joincon - Carcasa de Silicona -
        Vidrio - 4 Protectores de Silicona</p>
      <p>2 Volantes - 2 Adaptadores de mano</p>
      <p>NOTA: El Precio no incluye la Consola Nintendo Switch ni los Joincons</p>
      <a href="{% url 'accesorios' %}">Ver todos los Accesorios</a>
    </article>
  </section>
</main>

{% endblock %}