{% extends "base/base.html" %}

{% load static %}
{% block template %}

<style>
  .card-content {

    height: 150px
  }
</style>
<main>
  <div class="container-fluid mt-3 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="card borders" style="text-align: center; background-color:darkblue; color:#FFFFFF;">PRODUCTOS
          DESTACADOS</h1>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
          style="border-color: #FFFFFF; border: 3px;">
          <div class="carousel-inner" style="border-color: #FFFFFF; border: 3px;">
            <div class="carousel-item active">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/452\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Call Of Duty: Warzone</h5>
                <p class="texto">$30.000</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/540\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Overwatch 2</h5>
                <p class="texto">Free to Play - Compras dentro del Juego</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/450\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Battlerite Rollale</h5>
                <p class="texto">$10.000</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'juegos' %}">
                <img src="https:\/\/www.freetogame.com\/g\/453\/thumbnail.jpg" class="d-block w-100 imgcarousel" alt="">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="texto">Gotham City: IMPOSTORS</h5>
                <p class="texto">FREE TO PLAY</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <section>
    <article>
      <h3 style="height:40px">Kit Gamer para PC</h3>
      <img src="static/img/PC_kit_gamer1.jpg" style="height:250px" alt="Accesroiro 1">
      <div class="card-content">
        <p>Kit Gamer Basico RGB</p>
        <p>Incluye: Teclado Retroluminado - Mouse Gamer - Audifonos con Microfono
      </div>
      <a style="background: green" onmouseover="this.style.background='none';"
        onmouseout="this.style.background='green';" href="{% url 'accesorios' %}">Ver todos los Accesorios</a>
    </article>

    <article>
      <h3 style="height:40px">KIRBY´S RETURN TO DREAM LAND DELUXE</h3>
      <img src="static/img/juego_1.jpg" style="height:250px" alt="Accesorio 2">
      <div class="card-content">
        <p>Kit Gamer 2 RGB</p>
        <p>La poderosa bola rosada llamada Kirby está de regreso en una aventura de plataformas para 1 a 4 jugadores* en
          el planeta Pop. ¡Ayuda a Maglor a reconstruir su nave con las nuevas habilidades de copia Meca y Arena!</p>
      </div>
      <a style="background: green" onmouseover="this.style.background='none';"
        onmouseout="this.style.background='green';" href="{% url 'juegos' %}">Ver todos los Juegos</a>
    </article>

    <article>
      <h3 style="height:40px">Kit accesorios Nintendo Switch</h3>
      <img src="static/img/NS_kit_accesorios.jpg" style="height:250px" alt="Accesorio 3">
      <div class="card-content">
        <p>Kit completo para Nintendo Switch</p>
        <p>Incluye Funda: Cargador para 4 Joincon - Carcasa de Silicona -
          Vidrio - 4 Protectores de Silicona</p>
        <p>2 Volantes - 2 Adaptadores de mano</p>
        <p>NOTA: El Precio no incluye la Consola Nintendo Switch ni los Joincons</p>
      </div>
      <a style="background: green" onmouseover="this.style.background='none';"
        onmouseout="this.style.background='green';" href="{% url 'accesorios' %}">Ver todos los Accesorios</a>
    </article>
  </section>
</main>

{% endblock %}