{% extends "base/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Joyn And Play
                </div>
                <div class="text-left mt-4 name">
                    Agregar productos
                </div>
                <form id="formAgregar" method="POST" class="p-3 mt-3">
                    {% csrf_token %}
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="categoria" id="categoria" placeholder="SKU">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre del producto">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="precio" id="precio" placeholder="Precio del producto">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="imagen" id="imagen" placeholder="Imagen del producto">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="descripcion" id="descripcion"
                            placeholder="Descripcion del producto...">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <input type="text" name="cantidad" id="cantidad"
                            placeholder="Cantidad">
                    </div>
                    {% comment %} <div id="error" class="alert alert-danger mt-3"></div> {% endcomment %}
                    
                    <button onclick=" " class="btn btn-success" data-dismiss="modal" type="button">
                    <i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Agregar
                    </button><br><br>


                </div>
            </div>
        </div>
    </div> 
    







{% endblock %}


<!-- https://programadorwebvalencia.com/javascript-ejemplo-carrito-de-compra -->