{% extends "base/base.html" %}
{% load widget_tweaks %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}


<section class="vh-100">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="logo">
                    <img src="{% static 'img/j&pmini.png' %}" alt="">
                </div>
                <div class="text-center mt-4 name">
                    Join And Play
                </div>
                <div class="text-left mt-4 name">
                    Estado de Ventas 
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive table-dark table-hover rounded">
                        <tbody>

                          <tr>
                            <th>Nº Venta</th>
                            <th>Fecha</th>
                            <th>Contacto Comprador</th>
                            <th>Descripción</th>
                            <th>Total Compra</th>
                            <th>Seguimiento Venta</th>
                          </tr>
                          {% for order in ordenes %}
                          <tr>
                            <td><a class="account-order-id" href="#">{{order}}</a></td>
                            <td>{{order.created}}</td>
                            <td>{{order.email}}</td>
                            <td>{{order.get_description}}</td>
                            <td>${{order.get_precio_total}}</td>
                            <td>{{order.estado_venta}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}