{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block template %}
<div class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 rounded"
      style="background-color: #212529;padding-top:1%; padding-bottom:1%; ">
      <div class="container">
        <div class="d-flex justify-content-center">
          <div class="payment-method">
            <div class="payment-accordion">
              <div id="accordion">

                <div class="card text-white border-dark bg-dark mb-3">
                  <div class="card-header" id="#payment-1">
                    <h5 class="panel-title">
                      <a href="#" class="" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true">Transferencia bancaria</a>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como
                        referencia de pago. Su pedido no se enviará hasta que los fondos se hayan transferido a nuestra
                        cuenta.</p>
                    </div>
                  </div>
                </div>

                <div class="card text-white border-dark bg-dark mb-3">
                  <div class="card-header" id="#payment-3">
                    <h5 class="panel-title">
                      <a href="{% url 'commit' %}" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false">
                        Transbank
                        <form action="{% url 'create'  %}" method="post">
                          <a href="{% url 'create' %}">aca weon</a>
                      </a>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como
                        referencia de pago. Su pedido no se enviará hasta que los fondos se hayan transferido a nuestra
                        cuenta.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}