{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block template %}
<div class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 rounded" style="background-color: #212529;padding-top:1%; padding-bottom:1%; ">
      <div class="container">
        <div class="d-flex justify-content-center">
          <h2 class="text-center text-white">Gracias por su compra!</h2>
          <p class="text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
          <a href="{% url 'home' %}" class="btn btn-info btn-block mt-3 mb-5">Continuar comprando</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

